* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "poppins", "sans-serif";
}
body {
  color: #ededed;
  background: #081b29;
}
.header {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #051129;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position:relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.navbar a {
  display:inline-block;
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 1;
  animation: slideTop 5s ease forwards;
  animation-delay: calc(.2s * var(--1));
}
.navbar a:hover {
  color: #0ef;
}
.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(bg-overlay.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: .7s;
}
.home-content h3 span {
  color: rgb(0, 150, 219);
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(210, 226, 117);
  border-radius: 50%;
  font-size: 20px;
  color: rgb(3, 247, 255);
  text-decoration: none;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--1));

  margin: 30px 15px 30px 0;
}
.home-sci a:hover {
  color: rgb(60, 212, 80);
  box-shadow: 0 0 20px #0ef;
}
.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: rgb(112, 180, 185);
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.btn-box:hover {
  box-shadow: 0 0 5px cyan, 
              0 0 25px cyan,
              0 0 40px cyan;
}
.about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
.about-img img{
  padding-bottom: 20%;
  max-width: 630px;
  height: auto;
  width: 100%;
  border-radius: 8px;
  margin-top: 80px;
}
.about-text h2{
  font-size: 60px;
}
.about-text h2 span{
  color: #0ef;
}
.about-text h4{
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}
.about-text p{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

#services{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.container{
  padding: 90px;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(2, minmax(259px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div{
  background-color: transparent;
  padding: 40px;
  font-size: 20px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7,
              1px 1px 40px #0053b8f7
}
.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;

}
.services-list div a{
  text-decoration: none;
  font-size: 18px;
  margin-top: 20px;
  display:inline-block;
}
.read {
  display: inline-block;
  padding: 12px 28px;
  background-color: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.read:hover{
  box-shadow: 0 0 5px cyan, 
              0 0 25px cyan,
              0 0 50px cyan, 0 0 100px #0ef;
}
.services-list div:hover{
  transform: translateY(-10px);
}
.sub-title{
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
}
.sub-title span{
  color: #0ef;


}





.container1{
  width: 600px;
  height: 500px;
  padding: 75px 90px;
  margin-left: 120px;
  position: relative;
  margin-top: 80px;
  text-align: center;
  margin-bottom: 50px;

}
.heading1{
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
  
}
.proskills{
  text-decoration: underline;
}
.bar{
  font-size: 23px;
  margin-top: 10px;
}
.Technical-bars .bar {
  margin-top: 40px 0;
}
.Technical-bars .bar:first-child {
  margin-top: 0;
}
.Technical-bars .bar:last-child {
  margin-bottom: 0;
}
.Technical-bars .bar .info {
  margin-bottom: 5px;
  
}
.container .skill-box{
  width: 100%;
  margin: 25px 0;
}
.skill-box .title{
  display: block;
  font-size: 19px;
  font-weight: 600;
  color: #ffffff;
}
.skill-box .skill-bar{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: #4070f4;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}
.skill-per.html
{
  width: 70%;
  animation-delay: 0.1s;
  
}
.skill-per.css{
  width: 50%;
  animation-delay: 0.2s;
}
.skill-per.javascript{
  width: 30%;
  animation-delay: 0.3s;
}
.skill-per.bootstrap{
  width: 70%;
  animation-delay: 0.1s;
}
.skill-per.react{
  width: 70%;
  animation-delay: 0.1s;
}
.skill-per.python{
  width: 70%;
  animation-delay: 0.1s;
}
.skill-per.django{
  width: 70%;
  animation-delay: 0.1s;
}
.skill-per.mysql{
  width: 70%;
  animation-delay: 0.1s;
}
.skill-per.cplus{
  width: 70%;
  animation-delay: 0.1s;
}
@keyframes progress {
  0%{
      width: 0;
      opacity: 1;
  }
  100%{
      opacity: 1;
  }
}
.skill-per .tooltip{
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  background: #4070f4;
  z-index: 1;
}
.tooltip::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: #4070f4;
  transform: translateX(-50%) rotate(45deg);
}

.all{
  display: flex;
}
@media only screen and (max-width: 580px) {
  .all{
    display: inline;
  }
}
.circle-wrap{
  display: grid;
  grid-template-columns: repeat(2, 160px);
  grid-gap: 80px;
  margin-top: 100px;
  margin-left: 50px;
  width: 150px;
  height: 150px;
  background-color: #d9d7da;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3,
.circle-wrap .circle .fill-4{
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask{
  clip:rect(0px, 150px, 150px, 75px);
}
.mask .fill-1{
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #ec0c0c;
}
.mask.full-1,
.circle .fill-1{
  animation: fill-1 ease-in-out 3s;
  transform: rotate(190deg);
}
@keyframes fill-1{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(190deg);}
}
.mask .fill-2{
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #870cec;
}
.mask.full-2,
.circle .fill-2{
  animation: fill-2 ease-in-out 3s;
  transform: rotate(135deg);
}
@keyframes fill-2{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(135deg);}
}
.mask .fill-3{
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #21c049;
}
.mask.full-3,
.circle .fill-3{
  animation: fill-3 ease-in-out 3s;
  transform: rotate(135deg);
}
@keyframes fill-3{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(135deg);}
}
.mask .fill-4{
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #9ef006;
}
.mask.full-4,
.circle .fill-4{
  animation: fill-4 ease-in-out 3s;
  transform: rotate(195deg);
}
@keyframes fill-4{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(195deg);}
}
.inside-circle{
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: #192131;
  line-height: 120px;
  position:absolute;
  margin-top: 13px;
  margin-left: 13px;
  z-index: 100;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
}

.main-text{
  padding-top: 130px;
  margin-top: 200px;
  
}
.main-text h2{
  font-size: 60px;
  line-height: 1;
  text-align: center;
  margin-bottom: 30px;
}
.main-text h2 span{
  color: #0ef;
}
.portfolio-content{
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, auto));
  
}
.row{
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  
}
.row img{
  width: 100%;
  height: 90%;
  border-radius: 8px;
  display: block;
  transition: tranform 0.5s;


}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.1),#0ef);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}
.layer h5{
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.layer p{
  color: #000;
  font-size: 1rem;
  line-height: 1.8;
}
.layer i{
  color: #ff004f;
  margin-top: 20px;
  font-size: 20px;
  background: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.row:hover img{
  transform: scale(1.1);
}
.row:hover .layer{
  height: 100%;
}


.contact{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  margin-top: 130px;
}
.contact-text h2{
  font-size: 90px;
  line-height: 1;
  text-align: center;
}
.contact-text h4{
  margin: 15px 0;
  color: rgb(228, 228, 228);
  font-size: 20px;
  font-weight: 600;
}
.contact-text p{
  color: rgb(177, 177, 177);
  font-size: 20px;
  list-style: 30px;
  margin-bottom: 2rem;
}
.contact-list{
  margin-bottom: 3rem;
}
.contact-list li{
  margin-bottom: 10px;
  display: block;
}
.contact-list li{
  margin-bottom: 10px;
  display: block;
}
.contact-list i{
  display: inline-block;
  color: #0ef;
  font-size: 20px;
  font-weight: 600;
  transition: all ,40s ease;

}
.contact-list li a:hover{
  transform: scale(1.01) translateY(-5px);
  color: #0ef;
}
.contact-icons a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var--i);
}
.contact-icons i:hover{
  background: #0ef;
  color: #000;
  box-shadow: 0 0 20px #0ef;
}

.contact-form form{
  position: relative;
}
.contact-form form input,form textarea{
  border: none;
  outline: none;
  width: 90%;
  padding: 18px;
  background: #555557;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;

}
.contact-form textarea{
  resize: none;
  height: 220px;
}
.contact-form form .send{
  display: inline-block;
  padding: 14px 60px;
  background-color: #0ef;
  border-radius: 40px;
  font-size: 18px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.contact-form form .send:hover{
  box-shadow: 0 0 5px cyan, 
              0 0 25px cyan,
              0 0 50px cyan, 0 0 100px #0ef;
}

.last-text p{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: rgb(7, 85, 91);
  font-weight: 300;
  margin-top: 70px;
}
.top{
  position: fixed;
  bottom: 2.1rem;
  right: 2,1rem;
}
.top i{
  color: #000;
  background: #0ef;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}

































@keyframes slideRight{
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideLeft{
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}


@keyframes slideTop{
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideBottom{
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}


